.checkout-main {
    background-color: var(--white-off);
}


.brigtcamp .brigtcamp-area {
    background-color: var(--white);
}



/*****  checkout-area  *****/
.checkout .my-container {
    padding-top: 0;
}

.checkout-area {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 50px;
}

.checkout-area .left .my-card {
    padding: 20px;
    box-shadow: unset;
    border-color: var(--border-color2);
}



.checkout-area .form input {
    max-width: 100%;
}

.checkout-area .left,
.checkout-area .right {
    background-color: var(--white);
    padding: 35px;
}


.checkout-area .address-options .icon {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--border-color);
    padding: 8px 10px;
}

.checkout-area .address-options .icon i {
    font-size: var(--fs-lg);
}


/* hide-input */
.mobile-banking .hide-input {
    display: none;
}






/********  Check out Right  ********/
.checkout-area .right {
    padding: 22px;
}

.right-area {
    position: sticky;
    top: 40px;
}

.order-details .name {
    width: 140px;
}

.order-cart {
    height: 200px;
    overflow-y: auto;
}

.checkout-area .right .my-border-top,
.checkout-area .right .my-border-bottom,
.checkout-area .right .my-border2 {
    border-color: var(--border-color2)
}






@media (max-width:1080px) {
    .checkout-area {
        grid-template-columns: 1fr;
    }

    .checkout-area,
    .checkout-head,
    .brigtcamp .brigtcamp-area {
        max-width: 600px;
        margin: 0 auto;
    }

    .checkout-head {
        margin-bottom: 24px;
    }


    .checkout-area .left,
    .checkout-area .right {
        background-color: var(--white);
        padding: 24px;
    }
}


@media (max-width:480px) {

    .checkout-area .left,
    .checkout-area .right {
        background-color: var(--white);
        padding: 16px;
    }
}