.contact-page .left-cart {
    padding: 75px 30px;
    max-width: 400px;
    width: 100%;
    margin-top: -100px;
    color: var(--border-color2);
}

.contact-page .contact-area {
    padding: 45px;
}



.contact-page .right-form {
    max-width: 400px;
    width: 400px;
}

.contact-page .right-form .my-input-control {
    border-radius: 10px;
}


.map {
    width: 100%;
    height: 500px;
    padding: 3px;
    border: 1px solid var(--border-color);
}



@media(max-width:991px) {
    .contact-area {
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }
}